:root {
    --blue-color    : #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color  : #f59e0b;
    --green-color   : #22c55e;
    --red-color     : #f44336;
    --grey-color    : #888;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin     : 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color          : black;
}

ul {
    list-style: none;
    padding   : 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

/* start framework */
/* start padding + margin */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}
.p-50{
    padding: 50px;
}
.p-20 {
    padding: 20px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pl-15{
    padding-left: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}

.m-20 {
    margin: 20px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-70{
    margin-top: 70px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}

/* end padding + margin */
/* start background */
.bg-white {
    background-color: white;
}

.bg-offwhite {
    background-color: #dfe2e6;
}

.bg-eee {
    background-color: #eee;
}

.c-gray {
    color: var(--grey-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

/* end background */
/* start font */


.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}

@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }

    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* end font */
/* start border */
.rad-6 {
    border-radius        : 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
}

.rad-10 {
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
}
.rad-half{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.border-solid-top{
    border-top: 3px solid #eee;
}
.border-solid-bottom{
    border-bottom: 3px solid #eee;
}

/* end border */
/* start components */
.center-flex {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.between-flex {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

/* end components */
/* start grid */
.d-grid {
    display: grid;

}

.gap-20 {
    gap: 20px;
}

/* end grid */

.w-fit {
    width: fit-content;
}

.w-fit-size {
    width: 32%;
}
.h-full{
    height: 100%;
}
.btn-shap {
    padding              : 4px 10px;
    border-radius        : 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
}

/* end framework */
